
build
build/*
**/build
output
output/*
**/output
**/output_cpu
**/output_gpu
**/output_gpu_large
*.log
*.exe
*.out
*.x
*.mp4
!readme_images/simplemd/simplemd.mp4
*.png
*.xyz
*.zip
*.xml
**/results/*
**/target_values/*
**/analysis/*.json
**/analysis/**/*.json
